<div class="container">
  <div class="innerContainer">
<h1>Aareon Angular Test</h1>
<form>
  <div class="form" ngForm [formGroup] = "userForm">
    <div class="multiSelectData">
      <label>Title</label>
      <select class="form-control" name="selectedTitle" formControlName = "userTitle">
        <option *ngFor = "let title of this.finalTitlesList;"
        [selected] = "title === defaultTitle" name = "userTitle" ngDefaultControl 
        >{{ title }}</option>
        <!-- TODO: add titles to dropdown -->
      </select>
    </div>
    <div class="inputData">
      <label>First name</label>
      <input type="text" class="textField" placeholder="First name"
      name = "userFirstName" formControlName = "userFirstName"/>
    </div>
    <div class="inputData">
      <label>Last name</label>
      <input type="text" class="textField" placeholder="Last name"
      name = "userLastName" formControlName = "userLastName"/>
    </div>
    <!-- TODO: add error message -->
    <span></span>
    <div class="checkBtn">
      <input type="checkbox" class="checkBox"
      name = "acceptTerms" formControlName = "acceptedTerms"/>
      <label class="acceptCnd">I accept the terms & conditions</label>
    </div>
    <div>
      <button (click)="onSubmit(userForm.value)">Submit</button>
    </div>
  </div>
</form>
</div>
</div>  
